body {
    font-family: Consolas;
    margin: 0;
    padding: 0;
    background-color: var(--color-light);
    color: var(--color-dark);

    max-width: 100%;
    overflow-x: hidden;
}

/* TOP BAR ANIMATION AND CSS */
@keyframes sticky-parallax-header-move-and-size {
	from {
		background-position: 50% 0;
		height: 100vh;
		font-size: calc(4vw + 2em);
	}
	to {
		background-position: 50% 100%;
		background-color: var(--color-dark);
        color:var(--color-light);
        padding-top: 0;
        padding: auto;
		height: 10vh;
		font-size: calc(1vw + 2em);
	}
}

#welcome {
    z-index: 1;
    width: 100%;
	position: fixed;
	top: 0;
    
    background-color: var(--color-light);
    color: var(--color-dark);
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 30vh;

	animation: sticky-parallax-header-move-and-size linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}

/* ------------------------------------ */

/* HEADER ANIMATION */

@keyframes headerLeft {
    from {
        transform: translate(0%,50%);
    }
    to {
        transform: translate(-100%, -50%);
        top: 50%;
        left:var(--space-right);
    }
}

#leftHeader {
    position: absolute;
    white-space: nowrap;
    left: var(--space-before);
    top:40vh;

    transition: top linear forwards;
    animation: headerLeft ease-out forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}

@keyframes headerRight {
    from {
        transform: translate(0%,-50%);
    }
    to {
        transform: translate(0%,-50%);
        top: 50%;
        left: var(--space-left);
    }
}

#rightHeader {
    position: absolute;
    white-space: nowrap;
    left: var(--space-before);
    top:40vh;

    transition: top linear forwards;
    animation: headerRight ease-out forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}

@keyframes headerInforAnim {
    from {
        transform: translate(0%, 0%);
        color: var(--color-dark);
    }
    to {
        transform: translate(0%, -100%);
        font-size: calc(1vh + 1vw);
        color: var(--color-dark-alpha);
        top:50%;
    }
}

#headerInfo {
    width: 70%;
    position: absolute;
    font-size: calc(1.5vh + 1.5vw);
    left: var(--space-before);
    top: calc(45vh + calc(4vw + 2em));

    animation: headerInforAnim linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}

@keyframes highlightAnim {
    from {
        color: var(--color-highlight);
    }
    to {
        color: var(--color-highlight-alpha);
    }
    
}

.highlightHeader {
    font-weight: bold;

    animation: highlightAnim linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 80vh;
}

.highlight {
    color: var(--color-highlight);
    font-weight: bold;
}

.headerLong {
    display: inline-block;
}

.headerShort {
    display: none;
}

/* ------------------------------------ */

/* CARDS */

:root {
    --color-light:#EEEEEE;
    --color-light-alpha: #EEEEEE00;
    --color-highlight:#FF5F00;
    --color-highlight-alpha: #FF5F0000;
    --color-highlight-half: #FF5F0090;
    --color-highlight-low: #FF5F0060;
    --color-dark:#222831;
    --color-dark-alpha: #22283100;

    --space-before: 15%;
    --space-right: 90%;
    --space-left: 10%;

	--card-top-offset: 2vh;
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card__content {
    font-size: 2vh;
    text-align: center;
	transform-origin: 50% 0%;
	will-change: transform;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 5vh;
    height: 75vh;
    box-shadow: 0px 5px 80px 0px var(--color-highlight-half);
}

.card {
	position: sticky;
	top: 12vh;
	padding-top: calc(var(--index) * var(--card-top-offset));
    margin-bottom: 10vh;
    max-height: 75vh;
	--index0: calc(var(--index) - 1); /* 0-based index */
	--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
	--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

@keyframes scale {
	to {
		transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
        box-shadow: 0px 5px 80px 0px var(--color-highlight-low);
	}
}

#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset));
	--numcards: 4;
	view-timeline-name: --cards-element-scrolls-in-body;
}

.card__content {
	--start-range: calc(var(--index0) / var(--numcards) * 100%);
	--end-range: calc((var(--index)) / var(--numcards) * 88%);

	animation: linear scale forwards;
	animation-timeline: --cards-element-scrolls-in-body;
	animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
}

.card_content_inner {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

/* ------------------------------------ */

#aboutGrid {
    display: grid;
    grid-template-columns: 60% 40%;
}

#aboutLeft {
    font-size: 2vh;
    width: 90%;
    padding-right: 0%;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#aboutRight {
    top: 25%;
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    width: 100%;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

#linkedin {
    content:url("linkedin-dark.png");
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-top: 5vh;
    height: calc(10vw + 20px);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: drop-shadow(0px 0px 10px var(--color-highlight-half));
    
    transition: transform 0.3s, filter 0.3s;
}

#linkedin:hover {
    transform: scale(110%) translate(-45%, 0%);
    filter: drop-shadow(0px 0px 30px var(--color-highlight-half));
}

#github {
    content:url("github.png");
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    margin-top: 5vh;
    height: calc(10vw + 20px);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: drop-shadow(0px 0px 10px var(--color-highlight-half));
    
    transition: transform 0.3s, filter 0.3s;
}

#github:hover {
    transform: scale(110%) translate(-45%, 0%);
    filter: drop-shadow(0px 0px 30px var(--color-highlight-half));
}

#gmail {
    content:url("gmail.png");
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    margin-top: 5vh;
    height: calc(10vw + 20px);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: drop-shadow(0px 0px 10px var(--color-highlight-half));
    
    transition: transform 0.3s, filter 0.3s;
}

#gmail:hover {
    transform: scale(110%) translate(-45%, 0%);
    filter: drop-shadow(0px 0px 30px var(--color-highlight-half));
}

#about1 {
    position: relative;
    top: 10%;
    transform: translate(0%, -50%);
}

#about2 {
    position: relative;
    top: 20%;
    transform: translate(0%, -50%);
}

#divLine {
    position: relative;
    top: 10%;
    transform: translate(0%, -50%);
    border-top: 1px solid var(--color-dark);
}

#skillsRight {
    margin-top: 5%;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: 50% 50%;
}

#skills1 {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 100%;
}

#skills2 {
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: 100%;
}

#skill1 {
    content: url("c.png");
    margin-top: 25%;
    margin-bottom: 20%;
    height: calc(10vw + 20px);
    margin-left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 10px var(--color-highlight-half));
}

#skill2 {
    content: url("c++.png");
    margin-top: 20%;
    height: calc(10vw + 20px);
    margin-left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 10px var(--color-highlight-half));
}

#skill3 {
    content: url("java.png");
    margin-top: 25%;
    margin-bottom: 20%;
    height: calc(10vw + 20px);
    margin-left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 10px var(--color-highlight-half));
}

#skill4 {
    position: relative;
    content: url("python.png");
    margin-top: 20%;
    height: calc(10vw + 20px);
    margin-left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 10px var(--color-highlight-half));
}

.subHeader {
    font-weight:normal;
    font-size: calc(1vw + 1.5em);
    margin-bottom: 10vh;
}

#about {
    height: 85vh;
}

#contact {
    margin-top: -10vh;
    height: 70vh;
}

#contactHeader {
    margin-bottom: 5vh;
}

#contactForm {
    height: 75%;
}

#contactGrid {
    font-size: 2vh;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto 10vw;
    gap: 0
}

.inputSpace {
    resize: none;
    box-shadow: 0px 0px 60px 10px var(--color-highlight-low);
    
}

#contactName {
    font-family: Consolas;
    font-size: 1.5vh;
    height: calc(2vh + 40px);
    padding: auto;
    padding-left: 2vh;
    color: var(--color-dark);
    background-color: var(--color-light);
    border: 1px solid var(--color-light);
    border-radius: 3vh;
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;

    transition: box-shadow 1s;
}

#contactName:focus {
    outline: none;
    box-shadow: 0px 0px 60px 0px var(--color-highlight);
}

#contactEmail {
    font-family: Consolas;
    font-size: 1.5vh;height: calc(2vh + 40px);
    padding: auto;
    padding-left: 2vh;
    color: var(--color-dark);
    background-color: var(--color-light);
    border: none;
    border-radius: 3vh;
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;

    transition: box-shadow 1s;
}

#contactEmail:focus {
    font-family: Consolas;
    font-size: 1.5vh;
    outline: none;
    box-shadow: 0px 0px 60px 0px var(--color-highlight);
}

#contactContent {
    font-family: Consolas;
    font-size: 1.5vh;
    max-height: calc(4 * calc(2vh + 40px));
    padding-top: 2vh;
    padding-left: 2vh;
    height: auto;
    color: var(--color-dark);
    background-color: var(--color-light);
    border: none;
    border-radius: 3vh;
    grid-column: 1 / span 3;
    grid-row: 6 / span 3;

    transition: box-shadow 1s;
}

#contactContent:focus {
    outline: none;
    box-shadow: 0px 0px 60px 0px var(--color-highlight);
}

#nameLabel {
    margin-top: auto;
    margin-bottom: auto;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#emailLabel {
    margin-top: auto;
    margin-bottom: auto;
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
}

#messageLabel {
    margin-top: auto;
    margin-bottom: auto;
    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
}

#submitContact {
    width: 8vw;
    height: 100%;
    position: relative;
    background-color: var(--color-light);
    box-shadow: 0px 0px 60px 10px var(--color-highlight-low);
    color: var(--color-dark);
    margin-left: 2vw;
    border-radius: 3vh;
    border: none;
    
    transition: background-color 0.25s, transform 0.25s, box-shadow 0.25s;

    grid-column: 4 / span 1;
    grid-row: 2 / span 7;
}

#submitContact:hover {
    background-color: var(--color-highlight);
    transform: scale(110%);
    box-shadow: 0px 0px 60px 40px var(--color-highlight-half);
}

#submitContact:active {
    background-color: var(--color-light);
    transform: scale(100%);
    box-shadow: 0px 0px 80px 20px var(--color-highlight), inset 0px 0px 40px 10px var(--color-highlight-half);
}

#submitContactArrow {
    font-size: calc(4vh + 4vw);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#separate {
    z-index: -2;
	padding-top: 110vh;
    margin-left:10%;
    margin-right:10%;
}

section {
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0px;
}

footer {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 3vh 0;
    text-align: center;
}


/* Light theme / dark theme automatic */

@media (prefers-color-scheme: light) {
    :root {
        --color-light:#EEEEEE;
        --color-light-alpha: #EEEEEE00;
        --color-highlight:#FF5F00;
        --color-highlight-alpha: #FF5F0000;
        --color-dark:#222831;
        --color-dark-alpha: #22283100;
    }
    #github {
        content:url("github.png");
    }
    #linkedin {
        content:url("linkedin-dark.png");
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-dark:#EEEEEE;
        --color-dark-alpha: #EEEEEE00;
        --color-highlight:#FF5F00;
        --color-highlight-alpha: #FF5F0000;
        --color-light:#222831;
        --color-light-alpha: #22283100;
    }
    #github {
        content:url("github-light.png");
    }
    #linkedin {
        content:url("linkedin.png");
    }
}

/* --------------------------------------------- */

/* Responsive, they say */

@media screen and (max-width: 768px) {
    #separate {
        margin-left: 0;
        margin-right: 0;
    }
    :root {
        --space-before: 5%;
        --space-right: 95%;
        --space-left: 5%;
    }
    #headerInfo {
        width: 90%;
    }
    .headerLong {
        display: none;
    }
    .headerShort {
        display: inline-block;
    }
    #contactGrid {
        grid-template-columns: auto auto auto;
    }
    #submitContact {
        grid-row: 9 / span 1;
        grid-column: 1 / span 3;
        width: 100%;
        margin-left: 0;
        margin-top: 4vh;
        height: calc(4vh + calc(4vw + 10px));
    }
    #submitContact:hover {
        transform: scale(125%);
    }
    #submitContact:active {
        background-color: var(--color-light);
        transform: scale(100%);
        box-shadow: 0px 0px 80px 20px var(--color-highlight), inset 0px 0px 20px 10px var(--color-highlight-half);
    }
    #aboutLeft {
        width: 100%;
    }
    #divLine {
        top: 0%
    }
    #skillsRight {
        position: relative;
        top: 60%;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    #skills1 {
        grid-template-columns: 50% 50%;
    }

    #skills2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        grid-template-columns: 50% 50%;
    }

    #skill1 {
        grid-column: 1 / span 1;
        margin-top: 10%;
        margin-bottom: 0%;
        height: calc(10vw + 20px);
        margin-left: 50%;
        transform: translate(-50%, 50%);
    }

    #skill2 {
        grid-column: 2 / span 1;
        margin-top: 10%;
        margin-bottom: 0%;
        height: calc(10vw + 20px);
        margin-left: 50%;
        transform: translate(-50%, 50%);
    }

    #skill3 {
        grid-column: 1 / span 1;
        margin-top: 10%;
        margin-bottom: 0%;
        height: calc(10vw + 20px);
        margin-left: 50%;
        transform: translate(-50%, 50%);
    }

    #skill4 {
        grid-column: 2 / span 1;
        margin-top: 10%;
        margin-bottom: 0%;
        height: calc(10vw + 20px);
        margin-left: 50%;
        transform: translate(-50%, 50%);
    }
    
    #aboutGrid {
        grid-template-columns: 100% 0%;
    }
}

@media screen and (max-width:1200px) and (min-width: 769px) {
    #skillsRight {
        grid-template-columns: 100%;
    }
    #divLine {
        top: 5%
    }
    #skills2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    #skill1 {
        margin-top: 10%;
        margin-bottom: 0%;
        height: calc(8vw + 10px);
    }

    #skill2 {
        margin-top: 10%;
        margin-bottom: 0%;
        height: calc(8vw + 10px);
    }

    #skill3 {
        margin-top: 10%;
        margin-bottom: 0%;
        height: calc(8vw + 10px);
    }

    #skill4 {
        margin-top: 10%;
        margin-bottom: 0%;
        height: calc(8vw + 10px);
    }
    
    #aboutGrid {
        grid-template-columns: 80% 20%;
    }
}

/* --------------------------------------------- */